.header-anchor {
  text-decoration: none!important;
}

h1 > a.header-anchor {
  font-weight: 800;
}

h2 > a.header-anchor {
  font-weight: 700;
}

p code, li code{
	background-color: #F9F9F9;
	border: 1px solid #eee;
	font-size: 12px;
	padding: 2px 3px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

#post li code{
  border: 1px solid #ccc;
}